:root {
  --text-color: #212121;
  --text-color-hover: #2196F3;
  --logo-color-first: #2196F3;
  --logo-color-second: #000;
  --logo-color-third: #fff;
  --background-color: #F5F4FA;
  --background-footer: #2F303A;
  --text-color-link: #757575;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__check, .modal-close-btn, .footer-list-social__link, .client__box, .social-list__link, .work__overlay--style, .benefits__case, .hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--logo-color-third);
}

body.modal-open {
  overflow: hidden;
}

body.menu-open {
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

.button {
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link.current {
  color: var(--text-color-hover);
}

.page-nav {
  display: none;
}

.page-address {
  display: none;
}

.page-address__icon-envelope,
.page-address__icon-smartphone {
  display: none;
}

.open-mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.open-mobile-menu-btn__icon {
  width: 40px;
  height: 40px;
  line-height: 0;
}

@media (min-width: 480px) {
  .page-header {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header-navigation {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
  .open-mobile-menu-btn,
  .mobile-menu__close-btn {
    display: none;
  }
  .mobile-menu__social-list {
    display: none;
  }
  .menu-container {
    display: flex;
    justify-content: space-between;
  }
  .page-nav {
    display: flex;
    gap: 50px;
    margin-right: 96px;
  }
  .page-nav__link {
    display: flex;
    align-items: center;
    fill: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-bottom: 32px;
    padding-top: 32px;
    position: relative;
    transition: color var(--cubic);
  }
  .page-nav__link:hover, .page-nav__link:focus {
    color: var(--text-color-hover);
  }
  .page-nav__link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--logo-color-first);
    left: 0;
    bottom: -1px;
    position: absolute;
    transform: scaleX(1);
  }
  .page-nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--logo-color-first);
    left: 0;
    bottom: -1px;
    position: absolute;
    transition: transform var(--cubic);
    transform: scaleX(0);
  }
  .page-nav__link:hover::after {
    transform: scaleX(1);
  }
  .page-address {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .page-address__link {
    display: flex;
    align-items: center;
    fill: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    transition: color var(--cubic);
  }
  .page-address .page-address__link {
    color: var(--text-color-link);
    gap: 10px;
  }
  .page-address__link:hover, .page-address__link:focus {
    color: var(--text-color-hover);
  }
  .page-address__icon-envelope {
    display: block;
    width: 16px;
    height: 12px;
  }
  .page-address__icon-smartphone {
    display: block;
    width: 10px;
    height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .page-nav {
    margin-right: 315px;
  }
  .page-address {
    display: flex;
    gap: 30px;
    margin-left: auto;
    flex-direction: row;
  }
  .adress-icon-envelope {
    width: 16px;
    height: 12px;
  }
  .page-address__icon-smartphone {
    width: 10px;
    height: 16px;
  }
  .page-address__link {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .page-address .page-address__link {
    color: var(--text-color-link);
    gap: 10px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
}

.page-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 134px;
}

.logo-color-first {
  color: var(--logo-color-first);
}

.logo-color-second {
  color: var(--logo-color-second);
}

.logo-color-third {
  color: var(--logo-color-third);
}

@media screen and (min-width: 768px) {
  .page-logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923076923;
  }
  .page-logo {
    margin-right: 92px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 145px;
  }
  .logo-color-first {
    color: var(--logo-color-first);
  }
  .logo-color-second {
    color: var(--logo-color-second);
  }
  .logo-color-third {
    color: var(--logo-color-third);
  }
  .footer-logo {
    margin-bottom: 20px;
  }
}
.menu-container {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--logo-color-third);
  overflow: scroll;
  transform: translatex(100%);
  transition: transform var(--cubic);
}

.mobile-menu.is-open {
  transform: translatex(0);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.mobile-menu__close-btn:hover {
  fill: var(--text-color-hover);
}

.mobile-menu__clouse-btn__icon {
  width: 18px;
  height: 18px;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}

.mobile-menu-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
  color: var(--text-color-hover);
}

.mobile-menu-contacts {
  display: flex;
  gap: 32px;
  align-content: center;
  flex-direction: column-reverse;
}

.mobile-menu-contact__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--text-color-link);
}
.mobile-menu-contact__mail:hover, .mobile-menu-contact__mail:focus {
  color: var(--text-color-hover);
}

.mobile-menu-contact__tel {
  display: block;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.4814814815;
  letter-spacing: 0.02em;
  color: var(--text-color-hover);
  gap: 32px;
}

.mobile-menu-social {
  display: flex;
  margin-top: 64px;
  gap: 20px;
  flex-wrap: wrap;
}

.mobile-menu-social__list:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  position: absolute;
}

.mobile-menu-social__list__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--text-color-hover);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/header-mobile@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
}

.hero__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/header-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/header-tablet@1x.jpg);
    max-width: 768px;
    height: 400px;
    margin: 0 auto;
  }
  .hero__text {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/header-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/header-descktop@1x.jpg);
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
  }
  .hero__text {
    max-width: 696px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/header-descktop@2x.jpg);
  }
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  border: none;
  background-color: var(--text-color-hover);
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: auto;
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--cubic);
}
.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
  border-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .hero-button {
    padding: 10px 32px;
  }
}
.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__box {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.benefits__case {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits__header {
    text-align: start;
  }
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-link);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .benefits__case {
    width: 354px;
  }
  .benefits__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .benefits__case {
    width: 270px;
  }
  .benefits__text {
    width: 270px;
  }
}
.work {
  padding-bottom: 94px;
  display: none;
}

.work__case {
  display: flex;
  gap: 30px;
}

.work__card {
  position: relative;
}

.work__overlay--style {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__overlay {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--logo-color-third);
}

@media (min-width: 1200px) {
  .work {
    display: block;
  }
}
.team {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__box {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.team__case {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  width: 100%;
}

.team__card {
  padding: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color-link);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--logo-color-third);
  transition: background-color var(--cubic);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--logo-color-first);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--cubic);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--logo-color-third);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.client__box {
  color: #afb1b8;
  fill: currentColor;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  transition: border-color var(--cubic), color var(--cubic);
}
.client__box:hover, .client__box:focus {
  border-color: var(--text-color-hover);
  color: var(--text-color-hover);
}

.client__icon {
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .client__box {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client__box {
    width: 170px;
  }
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-projects {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-projects__case {
  display: block;
  width: 370px;
}

.portfolio-projects__link {
  display: block;
}
.portfolio-projects__link:hover, .portfolio-projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-projects__box {
  position: relative;
  overflow: hidden;
}

.portfolio-projects__card {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.portfolio-projects__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color-link);
}

.overlay__box {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.portfolio-projects__link:hover .overlay__box, .portfolio-projects__link:focus .overlay__box {
  transform: translateY(0%);
}

.overlay {
  color: #ffffff;
  padding: 63px 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;
}

.portfolio-menu {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: start;
}

.portfolio-menu__button {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--background-color);
  padding: 6px 22px;
  transition: background-color var(--cubic), color var(--cubic), box-shadow var(--cubic);
}
.portfolio-menu__button:hover, .portfolio-menu__button:focus {
  background: var(--text-color-hover);
  color: var(--logo-color-third);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-menu {
    justify-content: center;
  }
}
.footer {
  font-family: "Roboto", sans-serif;
  background: var(--background-footer);
  font-size: 14px;
  line-height: 1.41;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.text-footer {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--logo-color-third);
  text-align: center;
}

.address {
  font-style: normal;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  text-align: center;
  margin-top: 20px;
}

.footer-address__link {
  color: var(--logo-color-third);
  font-style: normal;
}

.page-footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color var(--cubic);
}
.page-footer__contacts:hover, .page-footer__contacts:focus {
  color: var(--text-color-hover);
}

@media screen and (min-width: 768px) {
  .footer-align {
    display: flex;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-cases {
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
  }
  .footer-align {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
  .footer-contacts {
    align-items: start;
  }
  .text-footer {
    text-align: start;
    font-weight: 700;
  }
  .address {
    font-style: normal;
  }
  .footer-address {
    text-align: start;
    margin-top: 0px;
  }
}
.footer-list-social-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

.footer-list-social {
  display: flex;
  column-gap: 10px;
}

.footer-list-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--cubic);
}
.footer-list-social__link:hover, .footer-list-social__link:focus {
  background-color: var(--logo-color-first);
}

.footer-list-social__icon {
  width: 20px;
  height: 20px;
  fill: var(--logo-color-third);
}

@media screen and (min-width: 768px) {
  .footer-list-social-box {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list-social-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
  }
}
.footer-mail {
  margin-top: 60px;
  width: 100%;
}

.footer-send-mail__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-send-mail__form__user-mail {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: inherit;
  color: var(--logo-color-third);
  font-size: 16px;
  line-height: 1.25px;
}

.modal-form-submit {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--text-color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin-top: 20px;
}

.footer-send-mail__icon {
  width: 24px;
  height: 24px;
  fill: var(--logo-color-third);
}

@media screen and (min-width: 480px) {
  .footer-send-mail__form__user-mail {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mail {
    margin-top: 0px;
    margin-left: auto;
    width: 570px;
  }
  .footer-send-mail__form {
    display: flex;
    flex-direction: row;
  }
  .footer-send-mail__form__user-mail {
    width: 358px;
    border-radius: 4px;
    margin-right: 12px;
  }
  .modal-form-submit {
    margin-top: 0;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 93px;
  left: 50%;
  transform: translatex(-50%);
  padding: 40px;
  width: 100%;
  height: 609px;
  background-color: var(--logo-color-third);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: fill var(--cubic);
}
.modal-close-btn:focus {
  fill: var(--text-color-hover);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.modal-form-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--cubic);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--text-color-hover);
}

.modal-form__desk {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form-field__textarea {
  margin-bottom: 20px;
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill var(--cubic);
  fill: var(--text-color);
}
.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--text-color-hover);
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--cubic);
}
.modal-form__message:focus {
  outline: none;
  border-color: var(--text-color-hover);
}
.modal-form__message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

.icon-modal {
  display: block;
}

.modal-form__check {
  margin-bottom: 30px;
}

.modal-form__check-field {
  position: absolute;
  appearance: none;
}

.modal-form__own-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-color-second);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form__check-field:checked + .modal-form__own-checkbox {
  background-color: var(--text-color-hover);
  border-color: #2196f3;
}
.modal-form-check-field:focus + .modal-form__own-checkbox {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6);
}

.modal-form__own-checkbox__icon {
  display: none;
}
.modal-form__check-field:checked + .modal-form__own-checkbox .modal-form__own-checkbox__icon {
  display: block;
  fill: var(--logo-color-third);
}

.user-policy-text {
  font-size: 12px;
  color: var(--text-color-link);
}

.user-policy-text__link {
  text-decoration: underline;
  color: var(--text-color-hover);
  margin-left: 4px;
  transition: var(--cubic);
  letter-spacing: 0.03em;
  line-height: 1.71px;
}

.modal-form-submit {
  width: 200px;
  height: 50px;
  background-color: var(--text-color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  align-self: center;
  transition: background-color var(--cubic);
}
.modal-form-submit:hover {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .user-policy-text {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */