.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits__box {
    display: flex;
    gap: 30px;
}

.benefits__case {
    @extend %align;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.benefits__icon {
    width: 70px;
    height: 70px;
}

.benefits__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color-link);
    width: 270px;
}