.header {
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link.current {
  color: var(--text-color-hover);
}

.page-nav {
  display: none;
}

.page-address {
  display: none;
}

.page-address__icon-envelope,
.page-address__icon-smartphone {
  display: none;
}

.open-mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.open-mobile-menu-btn__icon {
  width: 40px;
  height: 40px;
  line-height: 0;
}

@media (min-width: 480px) {
  .page-header {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header-navigation {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }
  .open-mobile-menu-btn,
  .mobile-menu__close-btn {
    display: none;
  }

  .mobile-menu__social-list {
    display: none;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
  }

  .page-nav {
    display: flex;
    gap: 50px;
    margin-right: 96px;
  }

  .page-nav__link {
    display: flex;
    align-items: center;
    fill: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-bottom: 32px;
    padding-top: 32px;
    position: relative;
    transition: color var(--cubic);

    &:hover,
    &:focus {
      color: var(--text-color-hover);
    }

    &.current::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--logo-color-first);
      left: 0;
      bottom: -1px;
      position: absolute;
      transform: scaleX(1);
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--logo-color-first);
      left: 0;
      bottom: -1px;
      position: absolute;
      transition: transform var(--cubic);
      transform: scaleX(0);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  .page-address {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .page-address__link {
    display: flex;
    align-items: center;
    fill: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    transition: color var(--cubic);

    .page-address & {
      color: var(--text-color-link);
      gap: 10px;
    }

    &:hover,
    &:focus {
      color: var(--text-color-hover);
    }
  }

  .page-address__icon-envelope {
    display: block;
    width: 16px;
    height: 12px;
  }

  .page-address__icon-smartphone {
    display: block;
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .page-nav {
    margin-right: 315px;
  }

  .page-address {
    display: flex;
    gap: 30px;
    margin-left: auto;
    flex-direction: row;
  }

  .adress-icon-envelope {
    width: 16px;
    height: 12px;
  }

  .page-address__icon-smartphone {
    width: 10px;
    height: 16px;
  }

  .page-address__link {
    padding-bottom: 32px;
    padding-top: 32px;

    .page-address & {
      color: var(--text-color-link);
      gap: 10px;
    }
  }
}
